
  
    <div class="row rounded-lg overflow-hidden shadow" id="body">
      <!-- Users box-->
      <div class="col-5 px-0">
        <div class="bg-white">
  

          <div class="bg-gray px-4 py-2 bg-light" >
            <div class="row">
            <div class="col-md-3" id="profile">
            <a>
              <img src="../../assets/User.png" height="50px" width="50px"/>
              <p (click)='editProfile()'><b>Edit profile</b></p>
            </a>
            </div>
            <div class="col-md-9">
            <form action="#"   class="bg-light">
              <div class="input-group">
                <input type="text" placeholder="search username" (keyup)="update($event)" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
                <div class="input-group-append">
                  <button id="button-addon2" type="submit" (click)="searchUsers()" class="btn btn-link"> <h4 style="color: black;" class="fa fa-search" aria-hidden="true"></h4></button>
                </div>
              </div>
            </form>
            </div>
            </div>
          </div>
  

          
          <div class="messages-box">
            <div class="list-group rounded-0" *ngFor="let member of members">
              <a class="list-group-item list-group-item-actiontext-white rounded-0"  (click)="setRoom(member.user._id,member.user.username,member.user.img)">
                <div class="media"><img src="http://localhost:3000/images/profilepics/{{member.user.img}}" alt="user" width="80px" height="80px" class="rounded-circle">
                  <div class="media-body ml-" style="margin-left: 100px; margin-top: -40px; padding: 5px;">
                    <div class="d-flex align-items-right justify-content-between mb-1">
                      
                      
                      <h6 class="mb-0">{{member.user.username}}</h6><small class="small font-weight-bold" style="overflow: hidden;">{{member.msg[1]}}</small>
                    </div>
                    <p class="font-italic mb-0 text-small" style="overflow: hidden;">{{member.msg[0]}}</p>
                  </div>
                </div>
              </a>
  
            
  
              
  
             
  
  
              
  
              
  
            
            </div>
          </div>
        </div>
      </div>
      <!-- Chat Box-->
      <div class="col-7 px-0" *ngIf="!reciever">
      <img src="../../assets/icon.jpg" width="50%" height="50%" style="margin-left: 30%; margin-top: 15%;"  >
      <h2 style="color:#0d5548; margin-left: 20%;"><i>Stay connected with Chatbox!!</i></h2>
      </div>
      <div class="col-7 px-0" *ngIf="reciever">
        <div class="px-4 py-5 chat-box  bg-white">
          <!-- Sender Message-->
          
          <div class="navbar row">
               
            <div class="col-md-1 col-sm-4 text-center; position:absolute">
                <a class="story-title" href="#"><img alt="" src="http://localhost:3000/images/profilepics/{{imge}}" style="width:80px;height:75px" class="img-circle"></a>
              </div>
             
              <div style="margin-left: 8%; padding-left: 5%;" class="col-md-4 col-sm-6">
                  <h4 >{{username}}</h4>
                  <p>{{online}}</p>
                  </div>
                  <div class="col-md-4"></div>
                  
                  <div class="col-md-2">  
                    <div [ngClass]="class" id="myTopnav">
                        <a href="#" class="active"></a>
                        <a href="#home" class="active"></a>
                        <a  (click)='muted? unMuteUser() : muteUser()'>{{muted? 'Unmute' : 'Mute'}}</a>
                        <a  (click)='!meBlocked? blockUser() : unblockUser()'>{{meBlocked? 'Unblock' : 'Block'}}</a>
                       
                        <a href="javascript:void(0);" class="icon" (click)="showNavbar()">
                          <i class="fa fa-bars"></i>
                        </a>
                      </div>   
                    
                  </div>
        </div>
          
  
        
  
          <!-- Reciever Message-->
          <div style="margin-top: 8%;" width="100%" id="chatter">
          <div class="media w-200 ml-auto mb-3"    *ngFor="let message of messageList">
            <div *ngIf="message.type=='text'" class="media-body" [class.user]="message.user==checkUser()" [class.reciever]="message.user!=checkUser()">
              <div class=" rounded py-2 px-3 mb-2" [class.userMsg]="message.user==checkUser()" [class.receiverMsg]="message.user!=checkUser()" >
                
                <abbr [cdkCopyToClipboard]="getCopy(message.message[0])" style="margin-left: 95%; margin-top:-10px; font-size: x-small;" id="copy" title="copy"   class="fas fa-copy"></abbr>
                <p  class="text-small mb-0  ">{{message.message[0]}}</p>
              </div>
              <p class="small text-muted">{{message.message[1]}}    {{message.message[2]}}</p>
            </div>
            <div *ngIf="message.type=='file'" [class.imguser]="message.user==checkUser()" [class.imgreciever]="message.user!=checkUser()">
            <img height="300px" style="padding: 5px; margin-left: -5px; margin: -5px;" width="280px" src="http://localhost:3000/images/message/{{message.message[0]}}">
            </div>
          </div>
          </div>
          <!-- Sender Message-->
          <!-- <div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
            <div class="media-body ml-3">
              <div class="bg-light rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 text-muted">Test, which is a new approach</p>
              </div>
              <p class="small text-muted">12:00 PM | Aug 13</p>
            </div>
          </div> -->
  </div>
         
  
        <!-- Typing area -->
        <form action="#" class="bg-light">
          <div class="input-group">
            <abbr id="paste" title="paste" (click)="onPaste()" class="fas fa-paste"></abbr>
            <label for='file'><i id="image" style="margin-top: 25px; margin-left: 10px; font-size:25px; margin-right: 10px; " class="fas fa-image"></i></label>
            <input type="file" name="image"  id="file" accept="image/*"  (change)="onFileSelected($event)"  /> 
            <input type="text" placeholder={{mssg}} [disabled]="checkBlocked()" name="input" [(ngModel)]="message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
            <div class="input-group-append">
              <button id="button-addon2" type="submit" [disabled]="checkBlocked() || !message" (click)="sendMessage()" class="btn btn-link"> <i style="font-size:30px; margin-right: 10px; margin-top:20px; color:#31bb9d;" class="fa fa-paper-plane"></i></button>
            </div>
          </div>
        </form>
  </div>
  

</div>
  