<div>
    <form action='#'>
    <div class='row'>
        <div class='col-md-12'>

        </div>
        <div class="col-md-12">
            <div class="Image" >
                 <img [src]="url" class="rounded mx-auto d-block" width="200vh" name="img" height="200vh"  alt="..." style="margin-left: 20%;" > 
                <label for="file" class="required" id="photo" style="margin-left: 43%;">
                  <b>Choose Photo</b><i style="margin-left: 5%; color: black ;font-size: 20px;" class="fas fa-image"></i></label >
                 <input type="file" name="file" class="custom" id="file" accept="image/*"  (change)="onFileSelected($event)"  /> 
            </div>
        </div>
        <div class="col-md-12" style="margin-left: 30%;">
            <div class="form-input">
                <div class="col-sm-12">
                <label for="username" style="margin-left: 5%;" class="required"><b>Username</b></label>
                </div>
                <div class="col-md-12">
                <input type="text" name="fname" id="username" (keyup)='checkUsername($event)' placeholder="Username" [(ngModel)]='username'/>
                </div>
            </div>
        </div>
        <small class="text-danger" style="margin-left: 40%;">{{error}}</small>
        <div >
            <button type="submit" (click)='editProfile()' [disabled]='error'>Submit</button>

        </div>
        
    </div>
    </form>
</div>
